.h
{
    background: #e9e7de;
    color: #6C7863;
}
 
.hi
{
    position: sticky;

}
.pr
{
    height: 120px;
    background-color:#6C7863;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.pg
{
    img{
        width: 380px;
    }
}
.pg h1
{
    font-size: 20px;
}
.pg button
{
    background: #6C7863;
    color: white;
    border: none;
    font-size: small;
}
.more button
{
    color: #6C7863;
    border:1px solid black;
}
.email h1
{
    font-size: large;
}
.email p
{
    color: #6C7863;
}
.form
{
    background: #eef1e7;
    max-width: 950px;
    height: 900px;
}
.mg
{
    img{
        width: 380px;
      
    }
    
     }
     
.mg h1
{
    font-size: 20px;
}
.mg button
{
    background: #6C7863;
    color: white;
    border: none;
    font-size: small;
}
.slider
{
    background-color:#a19b67;
    height: 380px;
    max-width: 100%;
    color: white;
}
.slider button
{
    color: white;
    background-color: #bcb792;
    border: none;
    width: 180px;
    height: 52px;

}
.what img
{
    width: 95px;
}
.whatp p
{
    color: #a19b67;
}
.why p
{
    color:#a19b67 ;

}
.whyr p
{
    color:#a19b67 ;
}
.whyr button
{
    background:  #6C7863;
    border: none;
    color: white;
}
.why img
{
    width: 100px;
}
.form textarea
{
    height: 350px;
}
.account
{
    background: #eef1e7;
    max-width: 950px;
    height: 400px;
     
}
.dollar
{
    background:#e9e7de6b;
    color:#6C7863;
}
.salma
{
    background:#e9e7de6b;

}
.salma img
{
    width: 450px;
}
.fone
{
    background: #6a7e39;
    color: #e9e7de;
  
}
.ftwo
{
    background: #4c5b29;
    height: 350px;
    color: white;

}
.ftwo ul
{
    list-style: none;
}
.most
{
    img{
        width: 350px;
    }
    button{
        border: none;
        background: #6a7e39;
        color: white;
    }
    h3{
        color: #a19b67;
    }
}
 



